/*Basic Styles*/

body{
	font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	background-image: url(../images/whirlpool/whirlpool.png);
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1{
	float: left;
	color: #fff;
}

p{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*Contact Form*/

input, textarea{
	display: block;
	line-height: 25px;
	width: 100%;
}

textarea{
	height: 100px;
}

label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

form{
	line-height: 2em;

}

.button{
	color: #fff;
	background-color: #4aaaa5;
	border: none;
    margin: 15px 0;
    height: 2em;
    width: 6em;
}

#connect-me{
	float: left;
	margin: 35px 0;
    background: #fff;
    width: 210px;
    padding: 5px 15px;
    text-align: center;
}

/*Header Styles*/

header h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header nav ul a li{
	color: #4aaaa5;
}

nav{
	float: right;
	margin-right: 10px;	
}

nav ul a{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding:0 10px;
	vertical-align: middle;
}


#name{
	background-color: #4aaaa5;
	margin-bottom: 0;
	margin-left: 90px;
	padding: 15px 20px;
}

nav ul{
	margin-top: 30px;
    margin-right: 50px;
}

header{
	clear: both;
	overflow: hidden;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

/*Main Section Styles*/

.container{
	clear: both;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
	flex: 1;
}

.section1{
	width: 650px;
	float: left;
	margin: 0 20px;
	margin: 35px 20px;
    background: #fff;
    padding: 0 15px;
}

.content-line{
	border-bottom: 2px solid #cccccc;
}

.content-line2{
	border-bottom: 1px solid #cccccc;
}


#me{
	width: 100%;
	width: 200px;
	height: 200px;
}

/*Styles for Portfolio Page*/

.picon{
	width: 55%;
    height: 180px;
  	margin: 0 auto;
	display: block;
}

.p-wrap{
	position: relative;
	margin: 0 auto;
	width: 49%;
    display: block;
    float: left;
    margin-bottom: 25px;
}

.p-label{
	position: absolute;
	background-color: #4aaaa5;
	width: 176px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: white;
	left: 71px;
    bottom: 35px;
}

.icon{
	width: 65px;
	height: 65px;
}


.teal{
	color: #4aaaa5;
}


footer{
	border-top: 6px solid #4aaaa5;
	padding: 10px 0;
	background-color: #666666;
	clear: both;
	text-align: center;
	color: #fff;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*#borderstyle{
	border: 1px solid color: #4aaaa5;
	border-right: 1px solid color: #4aaaa5;
}*/

/*Flexbox Footer*/
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*Media Queries*/
@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){
	.container{
		width: 100%;
	}

	#me{
		float: left;
		padding: 10px;
	}

	#name{
		margin-left: 50px;
	}

	.section1{
		float: none;
		margin: 15px;
		width: 90%;
		border: 1px solid black;
		clear: both;
		overflow: auto;
		
	}

	#connect-me{
		float: none;
		margin: 15px;
		width: 90%;
		margin-bottom: 25px;
		text-align: left;
		border: 1px solid black;
		
	}
}

@media screen and (max-width: 640px){

	header{
		
	}

	#name{
		width: 100%;
		margin-left: 0;
		text-align: center;
		margin-top: 0;
	}	

	nav{
		width: 100%;
	}

	nav ul{
		text-align: center;
		margin-top: 20px;
		margin-right: 0;
	}

	nav ul a{
		margin: auto;
	}

	#me{
		width: 90%;
		height: auto;
		float: none;
	
	}
	

}